## Assignment 1
**Deadline**: 23rd September 2024

This assessment consists of 20 MongoDB queries, ranging from easy to hard. You are required to use the following sample data:

```json

    students = [
        {"name": "Rohit", "age": 23, "math_score": 85, "physics_score": 90, "city": "New York"},
        {"name": "Eram", "age": 22, "math_score": 78, "physics_score": 75, "city": "Los Angeles"},
        {"name": "Madan", "age": 24, "math_score": 95, "physics_score": 88, "city": "Chicago"},
        {"name": "Uvaish", "age": 21, "math_score": 60, "physics_score": 65, "city": "Houston"},
        {"name": "Neha", "age": 23, "math_score": 72, "physics_score": 80, "city": "Phoenix"}
    ]


```

Please submit your solutions by the given deadline.
pip install pymongo

1. Insert the given sample data into a MongoDB collection called 'students'.

In [3]:
import pymongo
        
client = pymongo.MongoClient("mongodb://localhost:27017/")

# Accessing the Database
mydb = client["mymongo"]

# Creating Collection
collection = mydb.Internship

# Accessing Collection
collection = mydb["Internship"]

In [61]:
students = [
        {"name": "Rohit", "age": 23, "math_score": 85, "physics_score": 90, "city": "New York"},
        {"name": "Eram", "age": 22, "math_score": 78, "physics_score": 75, "city": "Los Angeles"},
        {"name": "Madan", "age": 24, "math_score": 95, "physics_score": 88, "city": "Chicago"},
        {"name": "Uvaish", "age": 21, "math_score": 60, "physics_score": 65, "city": "Houston"},
        {"name": "Neha", "age": 23, "math_score": 72, "physics_score": 80, "city": "Phoenix"}

]
      


collection.insert_many(students)

InsertManyResult([ObjectId('66efa838bd12b27e29034c13'), ObjectId('66efa838bd12b27e29034c14'), ObjectId('66efa838bd12b27e29034c15'), ObjectId('66efa838bd12b27e29034c16'), ObjectId('66efa838bd12b27e29034c17')], acknowledged=True)

In [74]:
for student in collection.find():
    print(student)

{'_id': ObjectId('66eed2f2bd12b27e29034c0e'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66eed2f2bd12b27e29034c0f'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66eed2f2bd12b27e29034c10'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66eed2f2bd12b27e29034c11'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}
{'_id': ObjectId('66eed2f2bd12b27e29034c12'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}
{'_id': ObjectId('66efa838bd12b27e29034c13'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66efa838bd12b27e29034c14'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66efa838bd12b27e29034c15'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66efa838bd12b27e29034c16'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}
{'_id': ObjectId('66efa838bd12b27e29034c17'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}

2. Write a query to find all students who have a 'math_score' greater than 80.

In [62]:
query = {"math_score": {"$gt": 80}}
for student in collection.find(query):
    print(student)

{'_id': ObjectId('66eed2f2bd12b27e29034c0e'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66eed2f2bd12b27e29034c10'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66efa838bd12b27e29034c13'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66efa838bd12b27e29034c15'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}

3. Write a query to find students whose 'age' is less than 23.

In [63]:
query ={"age":{"$lte":23}}
for student in collection.find(query):
    print(student)

{'_id': ObjectId('66eed2f2bd12b27e29034c0e'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66eed2f2bd12b27e29034c0f'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66eed2f2bd12b27e29034c11'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}
{'_id': ObjectId('66eed2f2bd12b27e29034c12'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}
{'_id': ObjectId('66efa838bd12b27e29034c13'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66efa838bd12b27e29034c14'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66efa838bd12b27e29034c16'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}
{'_id': ObjectId('66efa838bd12b27e29034c17'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}

4. Write a query to return only the 'name' and 'math_score' of all students.

In [66]:
for student in collection.find({}, {"name": 1, "math_score": 2}):
    print(student)

{'_id': ObjectId('66eed2f2bd12b27e29034c0e'), 'name': 'Rohit', 'math_score': 85}
{'_id': ObjectId('66eed2f2bd12b27e29034c0f'), 'name': 'Eram', 'math_score': 78}
{'_id': ObjectId('66eed2f2bd12b27e29034c10'), 'name': 'Madan', 'math_score': 95}
{'_id': ObjectId('66eed2f2bd12b27e29034c11'), 'name': 'Uvaish', 'math_score': 60}
{'_id': ObjectId('66eed2f2bd12b27e29034c12'), 'name': 'Neha', 'math_score': 72}
{'_id': ObjectId('66efa838bd12b27e29034c13'), 'name': 'Rohit', 'math_score': 85}
{'_id': ObjectId('66efa838bd12b27e29034c14'), 'name': 'Eram', 'math_score': 78}
{'_id': ObjectId('66efa838bd12b27e29034c15'), 'name': 'Madan', 'math_score': 95}
{'_id': ObjectId('66efa838bd12b27e29034c16'), 'name': 'Uvaish', 'math_score': 60}
{'_id': ObjectId('66efa838bd12b27e29034c17'), 'name': 'Neha', 'math_score': 72}

5. Write a query to find students from the city 'New York'.

In [67]:
for student in collection.find({},{"New York"}):
    print(student)

{'_id': ObjectId('66eed2f2bd12b27e29034c0e')}
{'_id': ObjectId('66eed2f2bd12b27e29034c0f')}
{'_id': ObjectId('66eed2f2bd12b27e29034c10')}
{'_id': ObjectId('66eed2f2bd12b27e29034c11')}
{'_id': ObjectId('66eed2f2bd12b27e29034c12')}
{'_id': ObjectId('66efa838bd12b27e29034c13')}
{'_id': ObjectId('66efa838bd12b27e29034c14')}
{'_id': ObjectId('66efa838bd12b27e29034c15')}
{'_id': ObjectId('66efa838bd12b27e29034c16')}
{'_id': ObjectId('66efa838bd12b27e29034c17')}

6. Write a query to update the 'physics_score' of 'Uvaish' to 85.

In [69]:
collection.update_one({"Name": "Uvaish"},{"$set":{"physics_score":85}})

UpdateResult({'n': 0, 'nModified': 0, 'ok': 1.0, 'updatedExisting': False}, acknowledged=True)

7. Write a query to delete the student 'Neha' from the collection.

In [76]:
collection.delete_one({"Name":"Neha"})

DeleteResult({'n': 0, 'ok': 1.0}, acknowledged=True)

8. Write a query to find all students where 'math_score' is between 70 and 90 (inclusive).

In [77]:
students_in_range = collection.find({"math_score": {"$gte": 70, "$lte": 90}})
for student in students_in_range:
    print(student)

{'_id': ObjectId('66eed2f2bd12b27e29034c0e'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66eed2f2bd12b27e29034c0f'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66eed2f2bd12b27e29034c12'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}
{'_id': ObjectId('66efa838bd12b27e29034c13'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66efa838bd12b27e29034c14'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66efa838bd12b27e29034c17'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}

9. Write a query to find students whose 'math_score' is greater than 'physics_score'.

In [79]:
query = {"$expr": {"$gt": ["$math_score", "$physics_score"]}}

for student in collection.find(query):
    print(student)

{'_id': ObjectId('66eed2f2bd12b27e29034c0f'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66eed2f2bd12b27e29034c10'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66efa838bd12b27e29034c14'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66efa838bd12b27e29034c15'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}

10. Write a query to return students sorted by 'math_score' in descending order.

In [80]:
students_sorted_by_math = collection.find().sort("math_score", -1)

for student in students_sorted_by_math:
    print(student)

{'_id': ObjectId('66eed2f2bd12b27e29034c10'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66efa838bd12b27e29034c15'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66eed2f2bd12b27e29034c0e'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66efa838bd12b27e29034c13'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66eed2f2bd12b27e29034c0f'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66efa838bd12b27e29034c14'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66eed2f2bd12b27e29034c12'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}
{'_id': ObjectId('66efa838bd12b27e29034c17'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}
{'_id': ObjectId('66eed2f2bd12b27e29034c11'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}
{'_id': ObjectId('66efa838bd12b27e29034c16'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}

11. Write a query using the aggregation framework to calculate the average 'math_score' of all students.

In [86]:
pipeline = [
    {
        "$group": {
            "_id": None,  # Group all documents together
            "average_math_score": {"$avg": "$math_score"}  # Calculate the average of 'math_score'
        }
    }
]

result = collection.aggregate(pipeline)

for r in result:
    print(r)

{'_id': None, 'average_math_score': 78.0}

12. Write a query to group students by 'city' and count the number of students in each city.

In [87]:
pipeline = [
    {
        "$group": {
            "_id": "$city",  # Group by the 'city' field
            "student_count": {"$sum": 1}  # Count the number of students in each city
        }
    }
]

result = collection.aggregate(pipeline)

for r in result:
    print(f"City: {r['_id']}, Number of Students: {r['student_count']}")

City: New York, Number of Students: 2
City: Chicago, Number of Students: 2
City: Houston, Number of Students: 2
City: Los Angeles, Number of Students: 2
City: Phoenix, Number of Students: 2

13. Write a query to find students who either have 'math_score' greater than 80 or 'physics_score' greater than 85.

In [90]:
query = {
    "$or": [
        {"math_score": {"$gt": 80}},
        {"physics_score": {"$gt": 85}}
    ]
}

for student in collection.find(query):
    print(student)

{'_id': ObjectId('66eed2f2bd12b27e29034c0e'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66eed2f2bd12b27e29034c10'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66efa838bd12b27e29034c13'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66efa838bd12b27e29034c15'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}

14. Write a query to find students whose age is exactly 23 and live in 'Phoenix'.

In [94]:
query = {
    "age": 23,
    "city": "Phoenix"
}

students_in_phoenix = collection.find(query)

for student in students_in_phoenix:
    print(student)

{'_id': ObjectId('66eed2f2bd12b27e29034c12'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}
{'_id': ObjectId('66efa838bd12b27e29034c17'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}

15. Write a query to find students whose 'math_score' is not equal to 85.

In [95]:
query = {"math_score":{ "$ne":85}}
result = collection.find(query)
for student in result:
    print(student)

{'_id': ObjectId('66eed2f2bd12b27e29034c0f'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66eed2f2bd12b27e29034c10'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66eed2f2bd12b27e29034c11'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}
{'_id': ObjectId('66eed2f2bd12b27e29034c12'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}
{'_id': ObjectId('66efa838bd12b27e29034c14'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66efa838bd12b27e29034c15'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66efa838bd12b27e29034c16'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}
{'_id': ObjectId('66efa838bd12b27e29034c17'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}

16. Write a query to find students whose 'name' starts with the letter 'A'.

In [98]:
query= {"name":{"$regex":"^A"}}
result = collection.find(query)
print(query)

{'name': {'$regex': '^A'}}

17. Write a query to find students whose 'city' is neither 'New York' nor 'Los Angeles'.

In [102]:
query = {"$or":[{"city":{"$ne":"New york"}},{"city": {"$ne":"loss Angeles"}}]}
result = collection.find(query)

for student in result:
    print(student)

{'_id': ObjectId('66eed2f2bd12b27e29034c0e'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66eed2f2bd12b27e29034c0f'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66eed2f2bd12b27e29034c10'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66eed2f2bd12b27e29034c11'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}
{'_id': ObjectId('66eed2f2bd12b27e29034c12'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}
{'_id': ObjectId('66efa838bd12b27e29034c13'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66efa838bd12b27e29034c14'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66efa838bd12b27e29034c15'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66efa838bd12b27e29034c16'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}
{'_id': ObjectId('66efa838bd12b27e29034c17'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}

18. Write a query to update all students with 'age' greater than 22 to add a new field 'graduated': true.

In [103]:
query = {"age": {"$gt": 22}}
update = {"$set": {"graduated": True}}
collection.update_many(query, update)

for student in collection.find():
    print(student)

{'_id': ObjectId('66eed2f2bd12b27e29034c0e'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York', 'graduated': True}
{'_id': ObjectId('66eed2f2bd12b27e29034c0f'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66eed2f2bd12b27e29034c10'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago', 'graduated': True}
{'_id': ObjectId('66eed2f2bd12b27e29034c11'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}
{'_id': ObjectId('66eed2f2bd12b27e29034c12'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix', 'graduated': True}
{'_id': ObjectId('66efa838bd12b27e29034c13'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York', 'graduated': True}
{'_id': ObjectId('66efa838bd12b27e29034c14'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66efa838bd12b27e29034c15'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago', 'graduated': True}
{'_id': ObjectId('66efa838bd12b27e29034c16'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}
{'_id': ObjectId('66efa838bd12b27e29034c17'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix', 'graduated': True}

19. Write a query to remove the 'physics_score' field for students who live in 'Chicago'.

In [104]:
query = {"city": "Chicago"}
update = {"$unset": {"physics_score": ""}}
collection.update_many(query, update)

for student in collection.find():
    print(student)

{'_id': ObjectId('66eed2f2bd12b27e29034c0e'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York', 'graduated': True}
{'_id': ObjectId('66eed2f2bd12b27e29034c0f'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66eed2f2bd12b27e29034c10'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'city': 'Chicago', 'graduated': True}
{'_id': ObjectId('66eed2f2bd12b27e29034c11'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}
{'_id': ObjectId('66eed2f2bd12b27e29034c12'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix', 'graduated': True}
{'_id': ObjectId('66efa838bd12b27e29034c13'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York', 'graduated': True}
{'_id': ObjectId('66efa838bd12b27e29034c14'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66efa838bd12b27e29034c15'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'city': 'Chicago', 'graduated': True}
{'_id': ObjectId('66efa838bd12b27e29034c16'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}
{'_id': ObjectId('66efa838bd12b27e29034c17'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix', 'graduated': True}

20. Write a query to find the student with the highest 'math_score'.

In [108]:
query = {"math_score": {"$gte": 95}}
result = collection.find(query)

for student in result:
    print(student)

{'_id': ObjectId('66eed2f2bd12b27e29034c10'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'city': 'Chicago', 'graduated': True}
{'_id': ObjectId('66efa838bd12b27e29034c15'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'city': 'Chicago', 'graduated': True}